// Typography: Helvetica (default)
$body-font-family: Perpetua, Georgia, serif;
$heading-font-family: Perpetua, Georgia, serif;
$navigation-font-family: Helvetica Neue, Helvetica, sans-serif;

// Colors (default theme)
$text-color: #333;
$text-color-light: white;
$link-color: #918989;
$link-color-dark: #584C4C;
$accent-color: white;
$background-color-body: #fff;
$background-color-header: #fff;
$background-color-footer: #fff;
$background-color-hero: #ddd;

// Borders
$border-color: #95989A;
$border-width: 0px;

// Breakpoints
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;